
<form method="post" class="p-4">
    <input type="hidden" name="Id" />
    <div class="form-group" id="authorization-form-group-email">
        <label class="form-control-label">Заголовок</label>
        <input class="form-control " type="text" name="Title" />
    </div>
    <div class="form-group" id="authorization-form-group-email">
        <label class="form-control-label">Описание</label>
        <input class="form-control " type="text" name="Description" />
    </div>
    <div class="form-group" id="authorization-form-group-email">
        <label class="form-control-label">Дата</label>
        <input class="form-control " type="datetime" name="Date" />
    </div>
    <div class="form-group" id="authorization-form-group-email">
        <label class="form-control-label">Id пользователя</label>
        <input class="form-control " type="number" name="UserId" />
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>