<form id="changePassForm">
    <div class="row w-100 mt-5 ml-0 mr-0">
        <div class="col-md-3 col-0"></div>
        <div class="col-md-6 col-12">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-control-label">Секретный ключ</label>
                        <input type="password" class="form-control " name="Key" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Вход</button>
        </div>
        <div class="col-md-3 col-0"></div>
    </div>
</form>